@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

body {
  @apply bg-white;
}

/* --- Login Page --- */
.login-screen {
  @apply min-h-[100dvh] flex flex-col md:flex-row bg-cover bg-center bg-no-repeat;
  background-image: url("/bg-2.jpg");
}

@media (min-width: 400px) {
  .login-screen {
    background-image: url("/bg.jpg");
  }
}

/* Left side: Branding Content */
.brand-container {
  @apply flex flex-1 flex-col items-start justify-evenly md:justify-between p-6 md:p-10 lg:pl-40;
}

.logo {
  @apply h-34 md:h-48 object-contain;
}

.brand-content {
  @apply flex items-center gap-3 md:mb-12 my-1 mt-10;
}

.star {
  @apply size-4 md:size-4.5 ml-1 mb-1 text-transparent fill-[#ECC154];
}

.title {
  @apply text-3xl md:text-6xl md:leading-16 md:pb-2 font-bold bg-gradient-to-r from-[#ECC154] to-gray-300 bg-clip-text text-transparent max-md:bg-gradient-to-l;
}

.subtitle {
  @apply text-xl md:text-3xl max-w-72 md:max-w-md bg-gradient-to-tr from-[#ECC154] to-gray-300 bg-clip-text text-transparent;
}

/* Right side: Login Form */
.login-container {
  @apply flex flex-1 items-center justify-center p-6 sm:p-0;
}

/* Layout */
.btn {
  @apply absolute top-3 right-3 p-2 z-100 bg-gray-100 rounded-md shadow w-10 h-10 text-gray-950 active:text-[#ECC154] sm:hidden;
}

/* Feed */
.feed-container {
  @apply h-full overflow-y-scroll py-10 xl:pr-5 flex items-start justify-center xl:gap-8;
  scrollbar-width: none;
}

/* Chats */
.chats-container {
  @apply bg-gray-50 flex flex-col h-screen overflow-hidden;
}

.chats-container .chat-card {
  @apply max-w-6xl mx-auto px-4 sm:px-6 py-6 flex-1 overflow-y-auto;
  scrollbar-width: none;
}

.chats-container .chat-btn,
.chats-container .view-btn {
  @apply w-10 h-10 flex flex-1 sm:flex-none items-center justify-center text-sm rounded bg-gray-100 hover:bg-gray-200 text-gray-800 active:scale-95 transition cursor-pointer;
}

/* Friends */
.friends-container{
  @apply bg-gray-50 max-h-screen overflow-y-auto;
}

.friend-count{
  @apply flex flex-col items-center justify-center gap-1 border h-20 w-40 border-gray-200 bg-gray-50 shadow rounded-lg;
}

.friends-container .tabs-panel {
  @apply inline-flex flex-wrap items-center border border-gray-200 rounded-lg p-1 bg-gray-50 shadow-sm;
}

.friends-container .tabs-panel .tab-btn{
  @apply flex items-center px-3 py-1 text-sm rounded-md transition-colors cursor-pointer;
}

.friends-container .tab-count {
  @apply ml-2 text-xs bg-gray-100 text-gray-700 px-2 py-0.5 rounded-full;
}

.friends-container .user-profiles {
  @apply w-full flex gap-5 p-6 bg-gray-50 shadow rounded-lg;
}

.friends-container .user-profiles .user-btn {
  @apply flex-1 p-2 text-sm rounded bg-gradient-to-l from-[#ECC154] to-amber-200 hover:to-[#e0b23c] active:scale-95 transition text-gray-950 font-medium cursor-pointer focus:outline-none;
}

.btn {
  @apply p-2 text-sm rounded bg-gray-100 hover:bg-gray-200 active:scale-95 transition text-gray-950 cursor-pointer focus:outline-none;
}

/* Explore */
.explore-container {
  @apply max-h-screen bg-gradient-to-b from-gray-100 to-gray-50 overflow-y-auto;
}

.searchbar-container{
  @apply mb-8 shadow-md rounded-md border border-gray-200/60 bg-gray-50/80;
}

.search-icon {
  @apply absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400;
}

.search-input {
  @apply pl-10 sm:pl-12 py-2 w-full border-2 border-gray-200 rounded-lg max-sm:text-sm focus:outline-none focus:border-[#ECC154] transition-colors duration-300 ease-in-out;
}

/* ==== Components ==== */
/* Sidebar */
.sidebar-container {
  @apply w-60 xl:w-72 bg-gray-900 border-r border-gray-200 flex flex-col justify-between items-center max-sm:absolute top-0 bottom-0 z-20 transition-all duration-300 ease-in-out;
}

.sidebar-container .post-btn {
  @apply flex items-center justify-center gap-2 py-2.5 mt-6 md:mt-10 mx-6 rounded-2xl bg-gradient-to-r from-[#ECC154] to-amber-200 hover:to-[#e0b23c] active:scale-95 transition text-gray-950 font-semibold tracking-wider cursor-pointer;
}

.sidebar-container .profile-btn {
  @apply w-full border-t border-gray-200 p-4 px-7 flex items-center justify-between text-gray-200;
}

.sidebar-container .logout-btn {
  @apply w-4.5 text-gray-400 hover:text-[#ECC154] transition cursor-pointer;
}

/* Loading */
.load-container {
  @apply w-10 h-10 rounded-full border-3 border-black border-t-transparent animate-spin;
}

/* Menu */
.menu-container {
  @apply px-6 text-gray-600 space-y-1 font-medium;
}

.nav-item {
  @apply px-3.5 py-2 flex items-center gap-3 mb-2 rounded-2xl;
}

/* Storybar */
.storybar-container {
  @apply w-screen sm:w-[calc(100vw-240px)] lg:max-w-2xl overflow-x-auto px-4 max-md:mt-5;
  scrollbar-width: none;
}

.new-story-card {
  @apply rounded-lg shadow-sm min-w-30 max-w-30 max-h-40 aspect-[3/4] cursor-pointer hover:shadow-lg transition-all duration-200 border-2 border-dashed border-[#ECC154] bg-gradient-to-b from-gray-100 to-gray-50;
}

.new-story-card .add-icon {
  @apply size-10 bg-[#e0b23c] rounded-full flex items-center justify-center mb-4;
}

.story-card {
  @apply relative rounded-lg shadow min-w-30 max-w-30 max-h-40 cursor-pointer hover:shadow-lg transition-all duration-200 bg-gradient-to-b from-gray-700 to-gray-950 hover:from-gray-700 hover:to-gray-800 active:scale-95 overflow-hidden;
}

.story-card .profile-pic {
  @apply absolute size-8 top-3 left-3 z-10 rounded-full ring ring-[#e0b23c] shadow;
}

.story-card .content {
  @apply absolute top-18 left-3 text-gray-200 text-sm truncate max-w-24;
}

.story-card .creation-datetime {
  @apply text-gray-50/60 absolute bottom-1 right-2 z-10 text-xs;
}

.story-card .story-img,
.story-card .story-video {
  @apply h-full w-full object-cover hover:scale-110 transition duration-500 opacity-70 hover:opacity-80;
}

/* Story Modal */
.story-modal {
  @apply fixed inset-0 z-110 min-h-screen bg-black/80 backdrop-blur text-gray-50 flex items-center justify-center p-4;
}

.story-modal .add-story-content {
  @apply bg-transparent text-gray-950 w-full h-full p-6 text-lg resize-none focus:outline-none;
}

.story-modal .text-btn,
.story-modal .media-btn {
  @apply flex-1 flex items-center justify-center gap-2 p-2 rounded cursor-pointer;
}

.story-modal .upload-btn {
  @apply flex items-center justify-center gap-2 py-3 mt-4 w-full rounded bg-gradient-to-r from-[#ECC154] to-amber-200 hover:to-[#e0b23c] active:scale-95 transition text-gray-950 font-medium cursor-pointer focus:outline-none;
}

/* View Story */
.view-story-container {
  @apply fixed inset-0 h-screen bg-black/90 text-gray-50 flex items-center justify-center z-110;
}

.view-story-container .progress-bar {
  @apply absolute top-0 left-0 w-full h-1 bg-gray-500;
}

.view-story-container .progress-line {
  @apply h-full bg-[#ECC154] transition-all duration-100 ease-linear;
}

.view-story-container .user-info {
  @apply absolute top-4 left-4 flex items-center space-x-3 p-2 px-4 sm:p-4 sm:px-8 backdrop-blur-2xl rounded bg-black/50;
}

.view-story-container .close-btn {
  @apply absolute top-4 right-4 text-gray-50 bg-black/50 rounded-full p-2 font-bold focus:outline-none;
}

.view-story-container .close-btn .close-icon {
  @apply hover:scale-110 transition cursor-pointer;
}

.view-story-container .content-wrapper {
  @apply max-w-[90vw] max-h-[90vh] flex items-center justify-center;
}

/* Post Card */
.post-card {
  @apply bg-gray-50 rounded-xl shadow p-4 space-y-4 w-full max-w-2xl;
}

.post-card .user-info {
  @apply inline-flex items-center gap-3 cursor-pointer;
}

.post-card .profile-pic {
  @apply w-10 h-10 rounded-full shadow;
}

.post-card .post-content {
  @apply text-gray-800 text-sm whitespace-pre-line;
}

.post-card .action-btns {
  @apply flex items-center gap-4 text-gray-400 text-sm pt-2 border-t border-gray-300;
}

.post-card .action-btns .icon {
  @apply cursor-pointer;
}

/* Recent Messages */
.msg-container {
  @apply bg-gray-50 max-w-xs mt-4 p-4 min-h-20 rounded-md shadow text-xs text-gray-800;
}

.msg-container .msg-box {
  @apply flex flex-col max-h-48 overflow-y-scroll;
  scrollbar-width: none;
}

/* User Card */
.user-card {
  @apply p-4 pt-6 flex flex-col justify-between w-80 shadow-sm border border-gray-200 rounded-lg hover:shadow-md;
}

.user-card .follow-btn {
  @apply w-full py-2 rounded-lg flex justify-center items-center gap-2 bg-gradient-to-r from-[#ECC154] to-amber-200 hover:to-[#e0b23c] active:scale-95 transition text-gray-950 font-medium cursor-pointer focus:outline-none;
}

.user-card .request-btn {
  @apply flex justify-center items-center w-16 border-2 border-gray-200 text-gray-500 hover:text-gray-700 hover:bg-gray-200 hover:border-transparent rounded-lg transition cursor-pointer active:scale-95 focus:outline-none;
}